html body {
font-family: "Spartan";
/* background-color: #151515;
color: rgb(233, 233, 233); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #151515;
}

.logo {
  color: rgb(225, 225, 225);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(225, 225, 225);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
width: 25px;
height: 3px;
background-color:  rgb(225, 225, 225);
margin: 5px;
transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 678px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  0% {
  opacity: 0;
  transform: translateX(50px);
  }
  100% {
  opacity: 1;
  transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}








/* Hero */
.header {
  text-align: center;
}

/* Gallery */

h2 {
  text-align: center;
  margin: 30px;
}

.gallery-container {
  display: flex;
}


/* @media (min-width: 800px) {
  :root {
    --fs-large-title: 4rem;
    --fs-main-subjects: 1.8rem;
    --fs-subtitle: 1.3rem;
    --fs-body: 1.125rem;
  }
} */

/* body {
  background-color: #151515;
} */

/* main { 
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
} */







  
  






  





