html, body {
margin: 0;
padding: 0;
width: 100%;
font-family: "Spartan";
/* background-color: #151515;
color: rgb(233, 233, 233); */
}

/* Navigation */

main {
  position: relative;
}

nav h1 {
  flex-grow: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px;
  margin: 8px;
}

nav a {
  padding: 20px;
}

/* Hero */
.header {
  text-align: center;
}

/* Gallery */

h2 {
  text-align: center;
  margin: 30px;
}

.gallery-container {
  display: flex;
}


/* @media (min-width: 800px) {
  :root {
    --fs-large-title: 4rem;
    --fs-main-subjects: 1.8rem;
    --fs-subtitle: 1.3rem;
    --fs-body: 1.125rem;
  }
} */

/* body {
  background-color: #151515;
} */

/* main { 
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
} */







  
  






  





