* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  font-family: 'Poppins', ;
}

main { 
  margin: 0 auto;
  width: 90%;
    
  display: grid;
  grid-template-columns: 1fr;
}

header {
  width: 100%;
  height: 60%;
}

nav {
  background: #020202;
  display: flex;  
  align-items: center;
  justify-content: space-around;
}

nav h1 {
  flex-grow: 1;
}

nav a:link,
nav a:visited {
  
  color: #d1d1d1;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
}

nav a:hover, 
nav a:active {
  color: white;
}





  





